#content-bar {
  position: fixed;
  width: 250px !important;
  height: calc(100% - 80px);
  right: 0;
  transition: 0s;
  z-index: 90;
  overflow-y: auto;
  color: white;
}

.content-bar-item {
  width: 95%;
  border-radius: 10px;
  transition-duration: 250ms;
  user-select: none;
  margin-left: 0;
  margin-right: auto;
}

.content-bar-item:hover {
  background-color: #4a4a4a;
}

.content-bar-link {
  font-size: 22px !important;
  border-radius: 10px;
  padding-left: 5% !important;
  padding-right: 10% !important;
}

.content-bar-active {
  background-color: #666666;
}

@media(max-height: 700px) {
  .content-bar-item {
    margin-top: 1%;
    margin-bottom: 1%;
  }

  .content-bar-link {
    font-size: 20px !important;
  }

  .content-bar-icon {
    font-size: 28px;
  }
}