{% load static %}
{% load i18n %}
<div id="documentation-footer">
  <div id="documentation-footer-content">
    <div id="documentation-footer-content-links">
      <img id="documentation-footer-logo" src="/static/img/logo-light.webp" alt="">
      <div class="documentation-footer-row">
        <h4 class="documentation-footer-row-headline">{% trans 'documentation.footer.social.media' %}</h4>
        <ul id="documentation-footer-social-media">
          <li onclick="location.href='https://www.youtube.com/@DulnoCompany'"><i class="fa-brands fa-youtube"></i></li>
          <li onclick="location.href='https://twitter.com/DulnoCompany'"><i class="fa-brands fa-x-twitter"></i></li>
          <li onclick="location.href='https://www.instagram.com/DulnoCompany'"><i class="fa-brands fa-instagram"></i></li>
          <li onclick="location.href='https://www.linkedin.com/company/dulno/'"><i class="fa-brands fa-linkedin-in"></i></li>
          <li onclick="location.href='https://discord.gg/e6mv74RYhU'"><i class="fa-brands fa-discord"></i></li>
          <li onclick="location.href='https://github.com/Dulno'"><i class="fa-brands fa-github"></i></li>
        </ul>
      </div>
      <div class="documentation-footer-row">
        <h4 class="documentation-footer-row-headline">{% trans 'documentation.footer.legal' %}</h4>
        <a href="https://dulno.com/imprint/">{% trans 'documentation.footer.imprint' %}</a><br>
        <a href="https://dulno.com/privacy-policy/">{% trans 'documentation.footer.privacy.policy' %}</a><br>
        <a href="https://dulno.com/terms-of-service/">{% trans 'documentation.footer.terms.of.service' %}</a><br>
      </div>
    </div>
    <h5 id="documentation-footer-copyright">© 2024 Dulno.com</h5>
  </div>
</div>