{% load static %}
<div id="documentation-languages" class="dropdown" data-bs-theme="dark">
  <button class="btn documentation-language-button dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    <img id="documentation-language-current" class="documentation-language-flag">
  </button>
  <ul class="dropdown-menu">
    <li><button id="documentation-language-en" class="btn documentation-language-button"><img class="documentation-language-flag" src="https://dulno.com/static/img/languages/en.webp"></button></li>
    <li><button id="documentation-language-de" class="btn documentation-language-button"><img class="documentation-language-flag" src="https://dulno.com/static/img/languages/de.webp"></button></li>
  </ul>
</div>

<script>
  $(document).ready(function() {
    let language = Cookie.find("dulno-documentation-language");
    if (language == null) {
      language = "en";
    }
    document.getElementById("documentation-language-" + language).classList.add("d-none");
    document.getElementById("documentation-language-current").src =
      "https://dulno.com/static/img/languages/" + language + ".webp";
  });

  document.getElementById("documentation-language-en").onclick = function (event) {
    Cookie.create("dulno-documentation-language", "en", 60 * 60 * 24 * 365, ".dulno.com");
    window.location.reload();
  }

  document.getElementById("documentation-language-de").onclick = function (event) {
    Cookie.create("dulno-documentation-language", "de", 60 * 60 * 24 * 365, ".dulno.com");
    window.location.reload();
  }
</script>