{% load static %}
{% load i18n %}
<nav id="navbar">
  <button id="page-bar-button" type="button" data-bs-toggle="collapse" data-bs-target="#page-bar" aria-expanded="false" aria-controls="page-bar"></button>
  <div id="navbar-content">
    <div id="documentation-languages">
      <input id="documentation-language-en" class="documentation-language-flag" src="https://dulno.com/static/img/languages/en.png" type="image"/>
      <input id="documentation-language-de" class="documentation-language-flag" src="https://dulno.com/static/img/languages/de.png" type="image"/>
    </div>
  </div>
</nav>
<div id="header-space"></div>

<script>
  document.getElementById("documentation-language-en").onclick = function (event) {
    Cookie.create("dulno-documentation-language", "en", 60 * 60 * 24 * 365, ".dulno.com");
    window.location.reload();
  }

  document.getElementById("documentation-language-de").onclick = function (event) {
    Cookie.create("dulno-documentation-language", "de", 60 * 60 * 24 * 365, ".dulno.com");
    window.location.reload();
  }
</script>

<script>
  var isPageBarShown;

  window.addEventListener("load", function() {
    if (sessionStorage.getItem("dulno-documentation-page-bar") === null) {
      sessionStorage.setItem("dulno-documentation-page-bar", "true");
    }
    var pageBarSetting = sessionStorage.getItem("dulno-documentation-page-bar").toLowerCase() === "true";
    isPageBarShown = window.innerWidth > 575 && pageBarSetting;
    if (isPageBarShown) {
      document.getElementById("page-bar").classList.add("show");
    }
    updatePageBarSpacing();
    updatePageBarButtonIcon();
  });

  document.getElementById('page-bar-button').onclick = function() {
    isPageBarShown = !isPageBarShown;
    sessionStorage.setItem("dulno-documentation-page-bar", isPageBarShown);
    updatePageBarSpacing();
    updatePageBarButtonIcon();
  };

  function updatePageBarSpacing() {
    var elements = document.getElementsByClassName('sidebar-influenced');
    for (var i = 0; i < elements.length; i++) {
      if (isPageBarShown && window.innerWidth > 1000) {
        elements[i].style.marginLeft = '300px';
      } else {
        elements[i].style.marginLeft = '0';
      }
    }
  }

  function updatePageBarButtonIcon() {
    if (isPageBarShown) {
      document.getElementById("page-bar-button").innerHTML ='<i class="fa-solid fa-xmark"></i>';
      return;
    }
    document.getElementById("page-bar-button").innerHTML ='<i class="fa-solid fa-bars"></i>';
  }
</script>

<script>
  window.addEventListener("load", function() {
    var windowHeight = window.innerHeight || document.documentElement.clientHeight ||
      document.body.clientHeight;
    var content = document.getElementsByClassName("sidebar-influenced")[0];
    var contentBottom = content.getBoundingClientRect().bottom + window.scrollY;
    var margin = Math.max(windowHeight / 2, windowHeight - contentBottom);
    content.style.marginBottom = margin + "px";
  });
</script>

<script>
  window.addEventListener("scroll", () => {
    var footer = document.getElementById("documentation-footer");
    var footerTop = footer.getBoundingClientRect().top;
    var windowHeight = window.innerHeight || document.documentElement.clientHeight ||
      document.body.clientHeight;
    var pageScrollEnabled = windowHeight >= footerTop;
    document.getElementById("page-bar").classList.toggle("position-absolute", pageScrollEnabled);
    if (pageScrollEnabled) {
      var pageScrollOffset = footerTop + window.scrollY - windowHeight;
      document.getElementById("page-bar").style.marginTop = pageScrollOffset + "px";
    } else {
      document.getElementById("page-bar").style.marginTop = "0";
    }
    var contentBarBottom = document.getElementById("content-bar").getBoundingClientRect().height + 80;
    var contentScrollEnabled = footerTop <= contentBarBottom + 20;
    if (contentScrollEnabled) {
      document.getElementById("content-bar").style.top = (footerTop - document.getElementById("content-bar").getBoundingClientRect().height - 20) + "px";
    } else {
      document.getElementById("content-bar").style.top = "80px";
    }
  });
</script>